    GLOBAL_SETTINGS
    REGISTRY dangchuc
    LAB_MASTER_SEED stgp-audio-parity-lab2_student_master_seed
NETWORK SOME_NETWORK
     MASK 172.30.0.0/24
     GATEWAY 172.30.0.1
CONTAINER sender
     USER ubuntu
     X11 YES
     SOME_NETWORK 172.30.0.3
CONTAINER receiver
     USER ubuntu
     X11 YES
     SOME_NETWORK 172.30.0.7
